doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 どちらが良いですか？
    form(method="post", action=path)
      span 名前: 
      input(type="text", name="name")
      p
      input(type="radio", name="favorite", value=firstItem)
      span #{firstItem} 
      input(type="radio", name="favorite", value=secondItem)
      span #{secondItem} 
      p
      button(type="submit") 投稿
      p
      img(src="https://pbs.twimg.com/media/ERzKBHFXkAATHZF?format=jpg&name=large", alt="どうでも良い画像")
      a(href="/logout") ログアウト
