doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 どちらが食べたいですか？
    form(method="post", action="#{path}")
      span 名前: 
      input(type="text", name="name")
      input(type="radio", name="favorite", value="#{firstItem}")
      span #{firstItem} 
      input(type="radio", name="favorite", value="#{secondItem}")
      span #{secondItem} 
      button(type="submit") 投稿
      p
    a(href="/logout")ログアウト
    h2 Tips jadeファイルのお勉強
    li 閉じタグ不要
    li インデントは適切に挿入
    li 以下、参考URL
    li
      a(href="http://html2jade.aaron-powell.com/",target="_blank") jade変換ツール←新しいタブで開きます。
    li
      a(href="http://qiita.com/sasaplus1/items/189560f80cf337d40fdf",target="_blank") Jadeの記法について←新しいタブで開きます。
      //画像を取り込もうとした。できなかったので未実装
      //img(src="../public/img/pic1.png" alt="ロゴ")