doctype html

html(lang="jp")
  
  head
    meta(charset="UTF-8")
    title アンケート
  
  body
    h1 どちらが食べたいですか？
    form(method="post", action="#{path}")
      p
        label
          | 名前：
          br
          input(type="text", name="name")
      label
        input(type="radio", name="favorite",value="#{firstItem}")
        | #{firstItem}
      | 　
      label
        input(type="radio", name="favorite",value="#{secondItem}")
        | #{secondItem}
      p
        button(type="submit") 投稿
    
    a(href="/logout") ログアウト