doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 どちらが食べたいですか？
    form(method="post", action="#{path}")
      span 名前: 
      input(type="text", name="name")
      input(type="radio", name="favorite", value="#{firstItem}")
      span #{firstItem} 
      input(type="radio", name="favorite", value="#{secondItem}")
      span #{secondItem} 
      button(type="submit") 投稿
    br
    | ログアウト　＝＝＝＝＞　
    b
      a(href="/logout") コチラ
    br
    | 幻　想　郷　＝＝＝＝＞　
    b
      a(href="http://dic.nicovideo.jp/a/%E6%9D%B1%E9%A2%A8%E8%B0%B7%E6%97%A9%E8%8B%97") コチヤ